# Multivariate Data Analysis - Assignment 2
#### Name: Kai Ferragallo-Hawkins
#### Date: 22.3.2023

# Exercise 3.1 - EFA for Global Development

In [2]:
import pandas as pd
import seaborn as sns

# Importing Global Development Data
global_development = pd.read_csv("data/worlddev.csv")

# Displaying the newly imported table
display(global_development)

,country,electricity_access,gdp,gdp_capita,labor_rate,labor_force,land_area,life_expectancy,adult_literacy,water_access,...,population_density,population,alcohol_consumption,unemployment_rate,social_support,freedom,generosity,income_class,cpi,continent
0,Afghanistan,90.08,1.883323e+10,536.23,47.28,9103245.75,652230.0,62.97,59.56,66.61,...,53.94,35179977.00,0.0087,10.341,0.522,0.428,-0.014,Low income,14.25,Asia
1,Albania,99.94,1.285605e+10,4473.89,57.54,1362512.25,27400.0,78.93,98.14,93.92,...,104.90,2874159.25,5.0375,14.633,0.650,0.752,-0.033,Upper middle income,37.25,Europe
2,Algeria,99.49,1.677550e+11,4117.84,41.79,11979207.50,2381741.0,75.79,81.41,93.73,...,17.10,40736509.00,0.5844,10.540,0.785,0.510,-0.182,Lower middle income,34.50,Africa
3,Angola,43.00,7.095638e+10,2395.27,77.28,12467594.50,1246700.0,61.39,76.80,55.46,...,23.82,29691157.00,7.7588,9.557,0.755,0.375,-0.170,Lower middle income,17.75,Africa
4,Argentina,99.90,5.801820e+11,13246.88,59.17,19579367.75,2736690.0,76.73,99.10,99.01,...,16.01,43815411.75,8.5713,8.301,0.904,0.852,-0.187,Upper middle income,36.75,South America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Venezuela,99.62,2.708370e+11,8904.71,60.58,13210887.75,882050.0,72.25,96.87,94.31,...,34.48,30415066.50,6.0500,5.367,0.899,0.554,-0.190,Lower middle income,17.50,South America
182,Vietnam,99.61,2.719540e+11,2903.81,76.38,54856780.25,313400.5,73.94,76.80,93.84,...,298.55,93566326.25,8.8537,1.683,0.852,0.902,-0.013,Lower middle income,33.00,Asia
183,Yemen,69.37,3.055268e+10,1038.42,37.45,6526029.50,527970.0,65.62,59.56,57.27,...,56.17,29653862.25,0.0402,13.379,0.756,0.573,-0.131,Low income,15.50,Asia
184,Zambia,36.75,2.359868e+10,1382.20,58.70,5499897.00,743390.0,61.87,86.75,64.39,...,22.92,17037484.50,3.7277,7.556,0.730,0.796,0.057,Lower middle income,37.00,Africa
185,Zimbabwe,41.39,2.306319e+10,1573.35,65.91,5551153.50,386850.0,60.51,76.80,64.24,...,37.75,14602731.50,3.7479,6.035,0.758,0.729,-0.068,Lower middle income,21.75,Africa

## 2.1, Components & Variance