# Week 1: Warm-Up
#### Name: Kai Ferragallo-Hawkins
#### Date: 16.1.2023

## #2: Course Learning Goals

I am not very experienced in survey sampling. While I have a basic overview of survey techniques from previous stats courses and have quantitatively searched through survey results, I have not delved into topics like simulation study or cluster sampling.

So, my learning goals for this course are, broadly, to simply learn something new. I also aim to improve my skills in Python alongside this, which is why I aim to stick with this language during the course.

## #1 & 3: Importing and Labeling Province17
When importing the province17 txt file, I set the delimiter to be a tab ("\t") so that it creates multiple columns and changed the encoding to Latin-1 due the encoding of the txt file (Latin-1 encodes for letters in the Latin alphabet, UTF-8 is for all valid character code points).

In [6]:
import pandas as pd

# Importing Province17 Data
province17 = pd.read_csv("files/assignment1/province17.txt", delimiter = '\t', encoding='latin-1')

# Displaying the newly imported table
display(province17)

   Municipality  id   POP17  LAB17  UE17  HOU17  URB17_new
0    Hankasalmi   1    5019   1829   222   2376          0
1        Joutsa   2    4567   1605   229   2442          1
2     Jyväskylä   3  140188  61250  8337  71481          1
3         Jämsä   4   20877   7989  1175  10647          1
4   Kannonkoski   5    1408    473    68    672          0
5      Karstula   6    4146   1468   227   1974          1
6        Keuruu   7    9919   3517   493   4970          1
7       Kinnula   8    1656    522    97    711          1
8     Kivijärvi   9    1132    363    42    539          1
9     Konnevesi  10    2748   1022   134   1339          0
10    Kuhmoinen  11    2252    734    99   1250          1
11     Kyyjärvi  12    1352    484    61    622          1
12       Laukaa  13   18978   8082   827   7819          1
13      Luhanka  14     734    244    26    372          0
14       Multia  15    1636    570    59    776          0
15      Muurame  16   10097   4749   419   4144          1
16   Petäjävesi  17    3920   1611   175   1766          1
17   Pihtipudas  18    4127   1548   201   2000          0
18   Saarijärvi  19    9589   3368   631   4738          1
19     Toivakka  20    2384    956   106   1070          0
20     Uurainen  21    3747   1502   174   1440          0
21   Viitasaari  22    6411   2259   334   3273          1
22    Äänekoski  23   19144   7239  1128   9352          1