# Week 2: Task 1-4
#### Name: Kai Ferragallo-Hawkins
#### Date: 23.1.2023

## #Setup

In [28]:
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
import SurveySamplingFunctions as ssf

### Province 91
## Importing Province91 Data
province91 = pd.read_csv("files/assignment1/province91.txt", delim_whitespace=True)

# Displaying the newly imported table (done later as well)
display(province91)

### Province 17
## Importing Province17 Data
province17 = pd.read_csv("files/assignment1/province17.txt", delimiter = '\t', encoding='latin-1')

# Displaying the newly imported table (done later as well)
display(province17)

    Stratum  Cluster  Id  Municipality  POP91  LAB91  UE91  HOU85  URB85
0         1        1   1     Jyväskylä  67200  33786  4123  26881      1
1         1        2   2         Jämsä  12907   6016   666   4663      1
2         1        2   3   Jämsänkoski   8118   3818   528   3019      1
3         1        2   4        Keuruu  12707   5919   760   4896      1
4         1        3   5    Saarijärvi  10774   4930   721   3730      1
5         1        5   6      Suolahti   6159   3022   457   2389      1
6         1        3   7     Äänekoski  11595   5823   767   4264      1
7         2        5   8    Hankasalmi   6080   2594   391   2179      0
8         2        6   9        Joutsa   4594   2069   194   1823      0
9         2        7  10     Jyväskmlk  29349  13727  1623   9230      0
10        2        4  11   Kannonkoski   1919    821   153    726      0
11        2        4  12      Karstula   5594   2521   341   1868      0
12        2        8  13       Kinnula   2324    927   129    675      0
13        2        8  14     Kivijärvi   1972    819   128    634      0
14        2        3  15  Konginkangas   1636    675   142    556      0
15        2        5  16     Konnevesi   3453   1557   201   1215      0
16        2        1  17    Korpilahti   5181   2144   239   1793      0
17        2        2  18     Kuhmoinen   3357   1448   187   1463      0
18        2        4  19      Kyyjärvi   1977    831    94    672      0
19        2        5  20        Laukaa  16042   7218   874   4952      0
20        2        6  21    Leivonmäki   1370    573    61    545      0
21        2        6  22       Luhanka   1153    522    54    435      0
22        2        7  23        Multia   2375   1059   119    925      0
23        2        1  24       Muurame   6830   3024   296   1853      0
24        2        7  25    Petäjävesi   3800   1737   262   1352      0
25        2        8  26    Pihtipudas   5654   2543   331   1946      0
26        2        4  27    Pylkönmäki   1266    545    98    473      0
27        2        3  28     Sumiainen   1426    617    79    485      0
28        2        1  29    Säynätsalo   3628   1615   166   1226      0
29        2        6  30      Toivakka   2499   1084   127    834      0
30        2        7  31      Uurainen   3004   1330   219    932      0
31        2        8  32    Viitasaari   8641   4011   568   3119      0

   Municipality  id   POP17  LAB17  UE17  HOU17  URB17_new
0    Hankasalmi   1    5019   1829   222   2376          0
1        Joutsa   2    4567   1605   229   2442          1
2     Jyväskylä   3  140188  61250  8337  71481          1
3         Jämsä   4   20877   7989  1175  10647          1
4   Kannonkoski   5    1408    473    68    672          0
5      Karstula   6    4146   1468   227   1974          1
6        Keuruu   7    9919   3517   493   4970          1
7       Kinnula   8    1656    522    97    711          1
8     Kivijärvi   9    1132    363    42    539          1
9     Konnevesi  10    2748   1022   134   1339          0
10    Kuhmoinen  11    2252    734    99   1250          1
11     Kyyjärvi  12    1352    484    61    622          1
12       Laukaa  13   18978   8082   827   7819          1
13      Luhanka  14     734    244    26    372          0
14       Multia  15    1636    570    59    776          0
15      Muurame  16   10097   4749   419   4144          1
16   Petäjävesi  17    3920   1611   175   1766          1
17   Pihtipudas  18    4127   1548   201   2000          0
18   Saarijärvi  19    9589   3368   631   4738          1
19     Toivakka  20    2384    956   106   1070          0
20     Uurainen  21    3747   1502   174   1440          0
21   Viitasaari  22    6411   2259   334   3273          1
22    Äänekoski  23   19144   7239  1128   9352          1

## #Task 1: Total of UE91/UE17

In [29]:
### Province 91
## Calculating the Total of UE91
total_ue91 = province91['UE91'].sum()

### Province 17
## Calculating the Total of UE91
total_ue17 = province17['UE17'].sum()

### Both
display(pd.DataFrame({'Year': ["1991", "2017"],'Total Unemployed, Absolute': [total_ue91, total_ue17]}))

   Year  Total Unemployed, Absolute
0  1991                       15098
1  2017                       15264

## #Task 2: Unemployment Rate

In [30]:
### Calculating Unemployment Rate

### Province 91
## Calculating LAB91 Total
total_lab91 = province91['LAB91'].sum()
## Calculating Unemployment Rate
ur_91 = total_ue91/total_lab91*100

### Province 17
## Calculating LAB91 Total
total_lab17 = province17['LAB17'].sum()
## Calculating Unemployment Rate
ur_17 = total_ue17/total_lab17*100

### Both
display(pd.DataFrame({'Year': ["1991", "2017"],'Unemployment Rate, %': [ur_91, ur_17]}))

   Year  Unemployment Rate, %
0  1991             12.652839
1  2017             13.462217

## #Task 3: Population Median of UE91/UE17

In [31]:
### Province 91
## Calculating UE91 Median
median_ue91 = province91['UE91'].median()

### Province 17
## Calculating UE17 Median
median_ue17 = province17['UE17'].median()

### Both
display(pd.DataFrame({'Year': ["1991", "2017"],'Unemployment Median': [median_ue91, median_ue17]}))

   Year  Unemployment Median
0  1991                229.0
1  2017                201.0

## #Task 4: Population Variance & Standard Deviation of UE91/UE17

In [32]:
### Province 91
## Calculating UE91 Variance & Standard Deviation
var_ue91 = province91['UE91'].var()
stdev_ue91 = province91['UE91'].std()

### Province 17
## Calculating UE17 Variance & Standard Deviation
var_ue17 = province17['UE17'].var()
stdev_ue17 = province17['UE17'].std()

### Both
display(pd.DataFrame({'Year': ["1991", "2017"],'Unemployment Var': [var_ue91, var_ue17],'Unemployment STDEV': [stdev_ue91, stdev_ue17]}))

### Final
display(pd.DataFrame({'Year': ["1991", "2017"],'Total UE, Absolute': [total_ue91, total_ue17],'UE Rate': [ur_91, ur_17],'UE Median': [median_ue91, median_ue17],'UE Var': [var_ue91, var_ue17],'UE STDEV': [stdev_ue91, stdev_ue17]}))

   Year  Unemployment Var  Unemployment STDEV
0  1991      5.526479e+05          743.402918
1  2017      2.907185e+06         1705.046936

   Year  Total UE, Absolute    UE Rate  UE Median        UE Var     UE STDEV
0  1991               15098  12.652839      229.0  5.526479e+05   743.402918
1  2017               15264  13.462217      201.0  2.907185e+06  1705.046936

## # Reflection - Comparing Province91 with Province17

When looking at the above table that compares all 1991 and 2017 values, we can see that the Unemployment rate did increase, but just barely. It is small enough (0.8% absolute change, or a 6.4% increase in 1991 vs 2017) that there is not much interesting information that it can provide alone. However, the variance/standard deviation - with a change from 743 to 1705, or a 129% increase - shows that the distribution from 1991 to 2017 did change significantly, meaning that on a region by region difference there are much clearer cases of higher and lower unemployment.